*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.world {
  overflow: hidden;
  position: relative;
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  bottom: 0;
  position: absolute;
  width: 300%;
  left: calc(var(--left) * 1%);
}

.starting-header {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vmin;
}

.dino {
  --bottom: 0;
  position: absolute;
  bottom: calc(var(--bottom) * 1%);
  height: 60px;
  width: 60px;
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}

.score {
  position: absolute;
  font-size: 25px;
  right: 0;
  padding: 20px;
}

.score-details {
  position: absolute;
  font-size: 4vmin;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.bullet {
  --left: 0;
  position: absolute;
  left: calc(var(--left) * 1%);
  bottom: 30px;
  width: 30px;
  height: 10px;
  background-color: #343131;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
